.first {
  background-color: rgb(200,0,0);
  color: white;
  border: none;
  height: 37px;
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
} 

 .first:hover {
 opacity: 0.7;
}

.first:active {
  opacity: 0.3;
}
.second {
 background-color:whitesmoke ;
 color: rgb(11, 179, 255);
 border-radius: 3px;
 height: 37px;
 width: 60px;
 cursor: pointer;
 border-color:rgb(39, 124, 181) ;
 border-width: 1.5px;
 border-style: solid;
 transition: background-color 1s, color 1s;
}

.second:hover{
  background-color: rgb(58, 58, 156);
  color: whitesmoke;
}
 .second:active{
  opacity: 0.5; 
}
 .third {
 background-color: rgb(8, 130, 252);
 cursor: pointer;
 color: white;
 text-size-adjust: 10px;
 height: 34px;
 width: 75px;
 border-radius: 17px;
 border: none;
 font-weight: bold;
 font-size: medium;
 margin-left: 8px;
 transition: box-shadow 0.25s;
}
 .third:hover {
  box-shadow: 3px 10px 10px  rgba(0, 0, 0, 0.15) ;
 }