.sidebar {
  left: 0;
  bottom: 0;
  top: 55px;
  position: fixed;
  background-color: rgb(254, 254, 254);
  width: 72px;
  cursor: pointer;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover {
  background-color: rgb(236, 236, 236);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4;
}
.sidebar-link div {
  font-family:Roboto,Arial ;
  font-size: 10px;
}